* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

:root {
    --primary-color: #45aaf2;
    --secondary-color: #f0f8ff;
    --text-secondary-color: #333333;
}